@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Work+Sans:400,700');

/*font-family: 'Work Sans', sans-serif;*/
/*font-family: 'Lato', sans-serif;*/

html, body {
  font-family: 'Lato', sans-serif;
}

.work-sans {
  font-family: 'Work Sans', sans-serif !important;
}

.lato {
  font-family: 'Lato', sans-serif !important;
}
